
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}
.container{
  height: 96vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.header{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}
.search-icon{
  padding: 0;
  height: 20px;
  cursor: pointer;
  right: 25%;
}
.search{
  min-width: 150px;
  padding: 8px 4.8rem;
  margin-right: -70px;
  border: none;
  border-radius: 40px;
  outline: none;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  color: #ffff;
}

.name p{
  font-size: 24px;
  font-weight: 400;
}
.weather-icon{
  display: flex;
  justify-content: center;
}
.weather-icon img{
  width: 100px;
  height: auto;
}
.temp{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.temp p{
  font-size: 70px;
}
.temp span{
  font-weight: 500;
}



.footers{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  height: auto;
  background: rgb(2,0,36);
  color: #ffff;
  border: none;
  border-radius: 10px;
}



